<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusFinder"
        android:usesCleartextTraffic="true"

        tools:targetApi="31">

        <!-- SplashActivity 등록 Splash 부터 시작 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SearchActivity 등록 -->
        <activity android:name=".SearchActivity" android:exported="true" />

        <!-- RoomInfoActivity 등록 -->
        <activity android:name=".PrimeRoomInfoActivity" android:exported="true" />
        <activity android:name=".InmoonRoomInfoActivity" android:exported="true" />
        <activity android:name=".GonghakRoomInfoActivity" android:exported="true" />
        <activity android:name=".SaecheonRoomInfoActivity" android:exported="true" />

        <!-- AcademicScheduleActivity 등록 -->
        <activity android:name=".AcademicScheduleActivity" android:exported="true" />

        <activity android:name=".MainActivity" />
        <activity android:name=".BuildingSelectionActivity" />
        <activity android:name=".NavigationMethodActivity" />

        <activity android:name=".PrimeSelectFloorActivity"/>
        <activity android:name=".InmoonSelectFloorActivity"/>
        <activity android:name=".GonghakSelectFloorActivity"/>
        <activity android:name=".SaecheonSelectFloorActivity"/>
        <activity android:name=".RoomDetailActivity" android:exported="true"/>

        <activity android:name=".UnitBus" />
        <activity android:name=".IksanBus" />
        <activity android:name=".OutBus" />

    </application>
</manifest>
